<!-- <div class="container" [ngClass]="isExpandMenu ? '':'expand_container'">
    <div class="menu">
        <div class="container_menu" [ngClass]="isExpandMenu ? '' : 'expandMenu'">
            <rsu-menu (onToggleMenu)="isExpandMenu = $event"></rsu-menu>
        </div>        
    </div>
    <div class="toolbar">
        <toolbar></toolbar>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div> -->
<div style="display: flex;min-height: 100vh;">
    <div>   
        <div class="container_menu" [ngClass]="isExpandMenu ? '' : 'expandMenu'">
            <rsu-menu (onToggleMenu)="isExpandMenu = $event"></rsu-menu>
        </div>        
    </div>    
    <div style="width: 100%;">
        <toolbar></toolbar>
        <div class="container_content">
            <router-outlet></router-outlet>
        </div>        
    </div>
</div>
