<div class="container_menu">    
    <div class="logo" [ngStyle]="{'justify-content': isExpandMenu ? '':'center'}">
        <div class="rsu_text" [hidden]="!isExpandMenu">RSU</div>
        <button mat-icon-button (click)="toggleMenu()">
            <mat-icon style="color: white;">menu</mat-icon>
        </button>
    </div>
    <div class="information" *ngIf="isExpandMenu">
         <span class="username_text">UserName Admin</span>
         <span class="email_text">Mail@gmail.com</span>
         <img class="user_img" src="assets/images/user.png" alt="">
    </div>
    <div class="menu_bg" *ngIf="isExpandMenu">
        <span>MENU</span>
    </div>
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="color: white;">
                menu
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div>
                            <li>demo menu</li>
                        </div>
                    </ul>
                </div>
              </ng-template>
          </mat-expansion-panel>
    </mat-accordion>
    <br>
</div>